snippet { "{ } completion" 
{
	$0
}
endsnippet

snippet utl "utl's url"
<url:$0>
endsnippet

snippet utr "utl id"
<url:#r=$0>
endsnippet

# TODO 如果这里能自动读出本行的第一个单词就好了
snippet uti "utl set id"
[id=$0]
endsnippet

snippet utv "utl vimscript" 
<url:vimscript:${0:ls}>
endsnippet

