# 一些ansi颜色码的快捷方式

snippet red "红" w
[31m$1[39m
endsnippet

snippet green "绿" w
[32m$1[39m
endsnippet

snippet yellow "黄" w
[33m$1[39m
endsnippet

snippet blue "蓝" w
[34m$1[39m
endsnippet

snippet magenta "magenta" w
[35m$1[39m
endsnippet

snippet cyan "cyan" w
[36m$1[39m
endsnippet

snippet whitered "白字红底" w
[41m[37m$1[39m[49m
endsnippet


