snippet cg "console.group" b
console.group("${1:label}");
${VISUAL}$0
console.groupEnd();
endsnippet

snippet cl "console.log" b
console.log(${1:"${2:value}"});
endsnippet

snippet imp "import" b
import $1 from '$0'
endsnippet
