# ------------------- Jest测试 -----------------------
# 从jsx.snippets中分离出来。因为该文件已经越来越大难以维护

snippet test "一个Jest的testing case" b
test('${1:desc}', () => {
	$0
})
endsnippet

snippet tobe "expect(...).toBe(...)" b
expect($1).toBe($2)
endsnippet

snippet jtest_table "使用用例表格来进行测试" b
test('${1:desc}', () => {
	const tb = [
		[$0],
	]

	for (let i of tb) {
		const para = _.initial(i)
		const hope = _.last(i)
		const fact = ${2:$1}(...para)

		expect(fact).${3:toBe}(hope)
	}
})
endsnippet

