# 一些常用的jss代码段，方便在react中快速输入样式

snippet flex "flex布局相关的样式" b
display : 'flex',${1:
flexDirection : 'column',}${2:
justifyContent : 'space-between', }${3:
alignItems : 'center',
}
endsnippet

snippet pointer "pointer指针" b
cursor : 'pointer',
endsnippet
