snippet rcc "react create class" b
const ${1:X} = React.createClass({
	render(){
		return (
			${0:<div>hello</div>}
		)
	}
})
endsnippet

snippet crc "class extends react component" b
class ${1:X} extends React.Component {
	render() {
		return <div>${0:Test}</div>
	}
}
endsnippet

snippet /x "comments in jsx" 
{/* $0 */}
endsnippet

