snippet cb "new check box" b
[_] ${1:todo}
endsnippet

snippet utf "filet link" 
<url:./filets/$0>
endsnippet

snippet uts "使用unite everything来定位" 
<url:vimscript:exe \"normal \\\\%3cBslash%3ex${1:filepath}\\\\%3ccr%3egg/${2:search_text}\\\\%3ccr%3ezz\">
endsnippet

