snippet utf "filet link" 
<url:./filets/$0>
endsnippet

snippet uts "使用unite everything来定位" 
<url:vimscript:exe \"normal \\\\%3cBslash%3ex${1:filepath}\\\\%3ccr%3egg/${2:search_text}\\\\%3ccr%3ezz\">
endsnippet

snippet uth "utl vimhelp" 
<url:vimhelp:${1:help}>
endsnippet

snippet utv "utl vimscript" 
<url:vimscript:${0:ls}>
endsnippet

snippet tag "用于在otl文件里给条目加一些tag，便于后期查找" w
「${1:${VISUAL}}」
endsnippet
